In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import six
import os

# Load in the stored data

In [2]:
DATA_FILE = 'data/four_players_data.csv'

In [3]:
df_all = pd.read_csv(DATA_FILE)
print('Original sample size', len(df_all))

Original sample size 6714

# Helper methods

In [4]:
def all_players(key):
    return ['pos_{}{}'.format(i, key) for i in range(1,5)]

In [5]:
def field_search(key, search_df=df_all):
    return {_ for _ in search_df if key in _}

In [6]:
def get_faction_df(df, faction):
    df_list = []
    for i in range(1,5) :
        col = 'pos_{}{}'.format(i, '_faction')
        pos_df = df.loc[df[col] == faction]
        col_dict = {}
        for pos_field in field_search('pos_{}'.format(i),df):
            target_field = 'target' + pos_field[5:]
            col_dict[target_field] = pos_df[pos_field]
        target_df = pd.concat(col_dict, axis=1)
        target_df = pd.concat([pos_df, target_df], axis=1) 
        df_list.append(target_df)
    df_faction = pd.concat(df_list)
    # display(df_faction['target_score'])
    df_faction['target_score'] = df_faction['target_score'] + df_faction['target_bid']
    # display(df_faction['target_score'])
    # display(df_faction['target_score_bid'].value_counts())
    return df_faction

In [7]:
def getTableHTML(df):
    
    """
    From https://stackoverflow.com/a/49687866/2007153
    
    Get a Jupyter like html of pandas dataframe
    
    """

    
    styles = [
        #table properties
        dict(selector=" ", 
             props=[("margin","0"),
                    ("font-family",'"Helvetica", "Arial", sans-serif'),
                    ("border-collapse", "collapse"),
                    ("border", "none"),
                    ("border","1px solid #ddd")
                       ]),

        #header color - optional
        dict(selector="thead", 
             props=[("background-color","#fff")
                   ]),

        #background shading
        dict(selector="tbody tr:nth-child(even)",
             props=[("background-color", "#cde")]),
        dict(selector="tbody tr:nth-child(odd)",
             props=[("background-color", "#eee")]),

        #cell spacing
        dict(selector="td", 
             props=[("padding", "1.0em")]),

        #header cell properties
        dict(selector="th", 
             props=[("font-size", "100%"),
                    ("text-align", "center")]),


    ]
    return (df.style.set_table_styles(styles).format({col: "{:.2f}" for col in df.columns \
                                                      if assembled_df.dtypes[col] == 'float64'}))

# Search Example

In [8]:
look_cols = list(field_search('fed') - (field_search('pos_') - field_search('pos_1')))
look_cols

['pos_1_fed_gleens',
 'pos_1_fed_2pw',
 'pos_1_fed_2o',
 'pos_1_fed_qic',
 'pos_1_adv_tech_taken_3vp_per_fed_pass',
 'pos_1_adv_tech_taken_5vp_per_fed',
 'pos_1_fed_2k',
 'pos_1_fed_6c',
 'pos_1_feds_taken',
 'pos_1_fed_12vp',
 'pos_1_score_fed']

# Basic Data Cleaning

In [9]:
# Fields with one column for each player
PLAYER_DROP_FIELDS = ['_research_level_dip']

# Fields with only one column for the table
SINGLE_DROP_FIELDS = ['Unnamed: 0']

drop_col_list = []
for field in PLAYER_DROP_FIELDS:
    drop_col_list += all_players(field)
drop_col_list += SINGLE_DROP_FIELDS
df_cleaned = df_all.drop(columns=drop_col_list,errors='ignore')

In [10]:
print('Sample size after cleaning', len(df_cleaned))

Sample size after cleaning 6714

# Filtering

In [11]:
VARIANTS = ['standard'] # Possible values: ['standard','more-balanced','beta']

MAP_LAYOUTS = ['standard'] # Possible to include 'xshape', but doesn't make sense for 4p

MIN_AVG_ELO = 200

# 4 player games only
df_filtered = df_cleaned.loc[df_cleaned.num_players == 4]

# Filter variants
df_filtered = df_filtered.loc[df_filtered.balance_variant.isin(VARIANTS)]

# Filter map layout
df_filtered = df_filtered.loc[df_filtered.map_layout.isin(MAP_LAYOUTS)]

# Remove games where any player is dropped
for col in all_players('_dropped'):
    df_filtered = df_filtered.loc[(df_filtered[col] == False)]

In [12]:
print('Sample size after basic filtering', len(df_filtered))

Sample size after basic filtering 4323

In [13]:
# Min ELO filter
df_filtered = df_filtered.loc[df_filtered['average_elo'] >= MIN_AVG_ELO]

In [14]:
print('Sample size after ELO filtering', len(df_filtered))

Sample size after ELO filtering 2514

# R1 Actions

In [15]:
action_names = {
    "2o_action": "power3",
    "7c_action": "power4",
    "2k_action": "power5",
    "1terra_action": "power6",
    "2terra_action": "power2",
    "2pt_action": "power7",
    "3k_action": "power1",
    "4q_action": "qic1",
    "3q_action": "qic2",
    "2q_action": "qic3"
}

In [16]:
faction_list = df_cleaned.pos_1_faction.unique()
assert(len(faction_list) == 14)

In [17]:
# look_cols = list(field_search('action_r_6') - (field_search('pos_') - field_search('pos_1')))
# look_cols

In [22]:
pd.options.display.float_format = '{:.2}'.format
for i in [6,5,4,3,2,1]:
    for action in action_names.keys():
        full_dict = {}
        sort_key = '% took {} in R{}'.format(action,i)
        for faction in faction_list:
            faction_dict = {}
            faction_df = get_faction_df(df_filtered, faction)
            take_df = faction_df[faction_df['target_action_r_{}_{}'.format(i,action)] == 1]
            no_take_df = faction_df[faction_df['target_action_r_{}_{}'.format(i,action)] != 1]
            faction_dict[sort_key] = len(take_df)/len(faction_df) * 100
            faction_dict['+pts if take {} vs no take in R{}'.format(action,i)] = take_df.target_score.mean() - no_take_df.target_score.mean()
            faction_dict['avg pts if take {} in R{}'.format(action,i)] = take_df.target_score.mean()
            faction_dict['avg pts if no take {} in R{}'.format(action,i)] = no_take_df.target_score.mean()
            faction_dict['overall avg score'] = faction_df.target_score.mean()
            faction_dict['total games'] = faction_df.shape[0]
            full_dict[faction] = faction_dict
        assembled_df = pd.DataFrame.from_dict(full_dict,orient='index').sort_values(by=sort_key, ascending=False)
        html_df = getTableHTML(assembled_df)
        
        path = 'plots/actions_analysis/'
        if not os.path.exists(path):
            os.makedirs(path)
        with open(path + 'r{}_{}.html'.format(i,action), 'w') as fo:
            fo.write(html_df.to_html())
html_df

In [19]:
pd.options.display.float_format = '{:.2}'.format
for i in [6,5,4,3,2,1]:
    full_dict = {}
    for faction in faction_list:
        faction_dict = {}
        faction_df = get_faction_df(df_filtered, faction)
        for action in action_names.keys():
            take_df = faction_df[faction_df['target_action_r_{}_{}'.format(i,action)] == 1]
            no_take_df = faction_df[faction_df['target_action_r_{}_{}'.format(i,action)] != 1]
            faction_dict['+pts if take {} vs no take in R{}'.format(action,i)] = take_df.target_score.mean() - no_take_df.target_score.mean()
            faction_dict['% took {} in R{}'.format(action,i)] = "{:.2f}".format(len(take_df)/len(faction_df) * 100) + '%'
        faction_dict['overall avg score'] = faction_df.target_score.mean()
        faction_dict['total games'] = faction_df.shape[0]
        full_dict[faction] = faction_dict
    assembled_df = pd.DataFrame.from_dict(full_dict,orient='index')
    html_df = getTableHTML(assembled_df)

    path = 'plots/actions_analysis/'
    if not os.path.exists(path):
        os.makedirs(path)
    with open(path + 'r{}_all_actions.html'.format(i), 'w') as fo:
        fo.write(html_df.to_html())
html_df

# Faction Early Feds

In [20]:
faction_list = df_cleaned.pos_1_faction.unique()
assert(len(faction_list) == 14)

In [21]:
pd.options.display.float_format = '{:.2}'.format
for i in [3,2,1]:
    full_dict = {}
    sort_key = '% made fed in 5vp/fed round R{}'.format(i)
    for faction in faction_list:
        faction_dict = {}
        faction_df = get_faction_df(df_filtered, faction)
        fed_scoring = faction_df[faction_df['round_{}_scoring'.format(i)] == '5vp_per_fed_place']
        made_fed = faction_df[(faction_df['round_{}_scoring'.format(i)] == '5vp_per_fed_place') & (faction_df['target_score_round{}'.format(i)] >= 5)]
        no_fed = faction_df[(faction_df['round_{}_scoring'.format(i)] == '5vp_per_fed_place') & (faction_df['target_score_round{}'.format(i)] == 0)]
        faction_dict[sort_key] = len(made_fed)/len(fed_scoring) * 100
        faction_dict['if 5vp/fed scoring R{}, +pts for fed vs no fed'.format(i)] = made_fed.target_score.mean() - no_fed.target_score.mean()
        faction_dict['if 5vp/fed scoring R{}, +pts vs avg if made fed'.format(i)] = made_fed.target_score.mean() - fed_scoring.target_score.mean()
        faction_dict['+pts if 5vp/fed scoring R{}'.format(i)] = fed_scoring.target_score.mean() - faction_df.target_score.mean()
        faction_dict['overall avg score'] = faction_df.target_score.mean()
        faction_dict['avg score if 5vp/fed scoring R{}'.format(i)] = fed_scoring.target_score.mean()
        faction_dict['avg score if made fed in 5vp/fed scoring R{}'.format(i)] = made_fed.target_score.mean()
        faction_dict['% players pick if 5vp/fed scoring R{}'.format(i)] = ((fed_scoring.shape[0]/faction_df.shape[0])*100)
        faction_dict['total games'] = faction_df.shape[0]
        faction_dict['games with 5vp/fed scoring R{}'.format(i)] = fed_scoring.shape[0]
        faction_dict['games fed made in 5vp/fed scoring R{}'.format(i)] = made_fed.shape[0]
        full_dict[faction] = faction_dict
    assembled_df = pd.DataFrame.from_dict(full_dict,orient='index').sort_values(by=sort_key, ascending=False)
    html_df = getTableHTML(assembled_df)
    
    path = 'plots/early_fed_analysis/'
    if not os.path.exists(path):
        os.makedirs(path)
    with open(path + 'r{}_fed_details.html'.format(i), 'w') as fo:
        fo.write(html_df.to_html())
html_df